# Dependencies
node_modules/

# Environment
.env

# Database
*.db

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build / Distribution
build/
dist/

# React / Node build cache
.cache/